:root {
    --main-color: rgb(82, 80, 171);
    --text-color-white:  rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
