@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins&display=swap');

:root {
    --main-color: rgb(82, 80, 171);
    --color-white:  rgb(237, 237, 237);
    --header-height: 10vh;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: var(--color-white);
}

/* header */

.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--color-white);
    border: none;
    box-shadow: 0px 2px 10px rgb(48, 48, 48);
    font-family: 'Mukta', sans-serif;

}

/* main */

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.new-card-btn {
    display: flex;
    justify-content: let;
}

.card-btn {
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 50%;
    position: fixed;
    background-color: var(--main-color);
    color: white;
    box-shadow: -3px -3px 5px -1px black;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.card-btn:hover {
    translate: -3px -3px;
    box-shadow: none;
}

/* card-content */
.card-content {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 25px 0px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 20px;
}

.card {
    width: 200px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.card-top {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.title-txt {
    color: black;
}

.author-txt {
    color: black;
}

.pages-txt {
    color: black;
}

.card-bottom {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.read-toggle[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 75px;
    height: 40px;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgba(82, 80, 171, 0.774);
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.read-toggle[type="checkbox"]::before {
    content: "Not Read";
}

.read-toggle[type="checkbox"]:checked {
    
    border: none;
    background-color: var(--main-color);
    
}

.read-toggle[type="checkbox"]:checked::before {
    content: "Read";
    color: white;
}

.remove-btn {
    width: 70px;
    height: 30px;
    border: 0px solid black;
    border-radius: 1rem;
    background-color: hsl(0, 60%, 60%);
    color: black;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

/* modal */

.modal {
    width: 75%;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: 0.3s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    scale: 0;
    pointer-events: none;
}

.modal-active {
    scale: 1;
    translate: -50% -50%;
    pointer-events: all;
}

.modal-header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-size: 1.7rem;
    font-family: 'Mukta', sans-serif;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

label {
    width: 50px;
    margin-left: 5px;
}

.check-label {
    width: 80%;
}

.txt {
    width: 100%;
    height: 25px;
    display: flex;
    flex: 1;
    margin-right: 5px;
    padding: 0px 7px;
    border-radius: 1em;
    border: 1px solid black;
}

.txt:focus , .txt:target {
    border: 2px solid var(--main-color) ;

}

.input-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.checkbox[type="checkbox"] {
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80px;
    height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    cursor: pointer;
    background-color: white;
    transition: 0.3s;
}

.checkbox[type="checkbox"]::before {
    content: "";
    position: absolute;
    margin: 0px 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: 0.6s;
}

.checkbox[type="checkbox"]:checked {
    justify-content: right;
    background-color: var(--main-color);
    transition: 0.6s;
}

.checkbox[type="checkbox"]:checked::before {
    background-color: white;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.form-submit {
    width: 90px;
    height: 40px;
    border: none;
    background-color: var(--main-color);
    color: var(--color-white);
    border-radius: 10px;
    box-shadow: -3px -3px 5px -1px black;
    transition: 0.3s;
    font-weight: bold;
}

.form-submit:hover {
    translate: -3px -3px;
    box-shadow: none;
}

.overlayer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.active {
    pointer-events: all;
    opacity: 0.5;
}

/* css landscape galaxy fold*/
@media only screen and (min-width: 600px) {
    :root {
        --header-height: 18vh;
    }

    /* modal */

    .modal {
        width: 80%;
        height: 90%;
        display: grid;
        grid-template-rows: 0.5fr 5fr;
    }

    .modal-title {
        margin: 10px 0px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .input-container {
        width: 45%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    /* new card btn */

    .new-card-btn {
        justify-content: center;
    }

    /* content */

    .card-content {
        justify-items: center;
        margin: 25px 0px;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card {
        width: 200px;
        height: 250px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
    }
}

/* css landscape phones*/
@media only screen and (min-width: 666px) {
    :root {
        --header-height: 18vh;
    }

    /* modal */

    .modal {
        width: 75%;
        height: 75%;
        display: grid;
        grid-template-rows: 0.5fr 5fr;
    }

    .modal-title {
        margin: 10px 0px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }

    /* content */

    .card-content {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-auto-columns: auto;
    }
}

/* css tablets*/
@media only screen and (min-height: 1020px) {
    :root {
        --header-height: 12vh;
    }

    /* modal */

    .modal {
        width: 70%;
        height: 60%;
        display: grid;
        grid-template-rows: 0.5fr 5fr;
    }

    .modal-title {
        margin: 10px 0px;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        font-size: 1.2rem;
    }

    .input-container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    label {
        width: 100px;
    }

    /* new card btn */

    .new-card-btn {
        align-items: center;
    }

    /* card */

    .card-content {
        margin-left: 10px;
    }

    .card {
        width: 220px;
        height: 280px;
    }

    .read-toggle[type="checkbox"] {
        width: 85px;
        height: 45px;
    }

    .remove-btn {
        width: 75px;
        height: 35;
    }

}

/* css landscape tablet*/
@media only screen and (min-width: 1020px) {
    :root {
        --header-height: 15vh;
    }

    /* modal */

    .modal {
        width: 60%;
        height: 60%;
        display: grid;
        grid-template-rows: 0.5fr 5fr;
    }

    .modal-title {
        margin: 10px 0px;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        font-size: 1.2rem;
    }

    .input-container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    label {
        width: 100px;
    }

    /* content */

    .card-content {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-auto-columns: auto;
    }

    /* new card btn */

    .new-card-btn {
        align-items: center;
    }
    
    .card-btn {
        margin: 0px;
        font-size: 1.4rem;
    }
}

/* css desktop portrait*/
@media only screen and (min-height: 1080px) {
    :root {
        --header-height: 12vh;
    }

    /* modal */

    .modal {
        width: 60%;
        height: 50%;
        display: grid;
        grid-template-rows: 0.5fr 5fr;
    }

    .modal-title {
        margin: 10px 0px;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        font-size: 1.2rem;
    }

    .input-container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    label {
        width: 100px;
    }

    /* new card btn */

    .new-card-btn {
        align-items: center;
        font-size: 1.6rem;
    }

    /* card */

    .card-content {
        margin-left: 10px;
    }

    .card {
        width: 220px;
        height: 280px;
    }

    .read-toggle[type="checkbox"] {
        width: 85px;
        height: 45px;
    }

    .remove-btn {
        width: 75px;
        height: 35px;
    }

}

/* css landscape desktop*/
@media only screen and (min-width: 1900px) {
    :root {
        --header-height: 12vh;
    }

    .header {
        font-size: 1.4rem;
    }

    /* modal */

    .modal {
        width: 25%;
        height: 45%;
        display: grid;
        grid-template-rows: 0.5fr 5fr;
    }

    .modal-title {
        margin: 10px 0px;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        font-size: 1.2rem;
    }

    .form-submit {
        width: 110px;
        height: 55px;
    }

    .input-container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    label {
        width: 100px;
    }

    /* content */

    .card-content {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-auto-columns: auto;
    }

    .card-top {
        justify-content: space-around;
        font-size: 1.2rem;
    }

    .card {
        width: 300px;
        height: 400px;
    }

    .read-toggle[type="checkbox"] {
        width: 95px;
        height: 55px;
        font-size: 1.2rem;
    }

    .remove-btn {
        width: 85px;
        height: 45px;
        font-size: 1.2rem;
        border-radius: 1.2rem;
    }

    /* new card btn */

    .new-card-btn {
        align-items: center;
    }
    
    .card-btn {
        width: 85px;
        height: 85px;
        margin: 0px;
        font-size: 1.6rem;
    }
}