:root {
    --main-color: rgb(82, 80, 171);
    --color-white:  rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: var(--color-white);
}

/* header */

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--color-white);
    border: none;
    box-shadow: 0px 2px 10px rgb(72, 72, 72);
}

/* main */

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.new-card-btn {
    display: flex;
    justify-content: center;
}

.card-btn {
    margin-top: 25px;
    width: 40px;
    height: 60px;
    background-color: var(--main-color);
    color: white;
}

/* modal */

.modal {
    width: 75%;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: 0.3s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--color-white);
    scale: 0;
}

.modal-active {
    scale: 1;
    translate: -50% -50%;
}



.modal-header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

.modal-title {
    font-size: 1.7rem;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

label {
    width: 50px;
    margin-left: 5px;
}

.check-label {
    width: 80%;
}

.txt {
    display: flex;
    width: 100%;
    flex: 1;
    margin-right: 5px;
}

.input-container {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.overlayer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.active {
    pointer-events: all;
    opacity: 0.5;
}
